body {
    background-color: rgb(42, 169, 201);
    padding: 5px;
    color: black;
    font-size: 25px;
    text-align: start;
    width: auto;
    height: auto;
}

ul {

    background-color: rgb(232, 235, 245);
    color: black;
    font-size: 15px;
    text-align: start;
    border-radius: 5px;
}

p {
    color: black;
    font-size: 20px;
}

button {
    background: rgb(232, 235, 245);
    box-shadow: 5px 20px 50px rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}
